<apex:page standardController="Account" extensions="CurrentBusinessPlan">
	<style>
.noheader { display:none; }
</style>
	<apex:form >
		<apex:pageblock title="{!$Label.Business_Plan_Title}">
		
			<apex:pageBlockTable cellpadding="0" cellspacing="0" id="PlanTable" rows="6"
			value="{!cbplan_lines}" var="bp" rendered="{!cbplan_lines!=null}" style="width:100;">
				<apex:column value="{!bp.Range_Start__c}" />
				<apex:column value="{!bp.Range_End__c}" />
				<apex:column value="{!bp.Product_Gamma__c}" />
				<apex:column value="{!bp.Quantity__c}" />
				<apex:column value="{!bp.Sales_Price__c}" />
				<apex:column value="{!bp.Revenue__c}" />
			</apex:pageBlockTable>
			<apex:outputLabel value="{!$Label.Business_Plan_No_records}"
				rendered="{!cbplan_lines==null}" styleClass="noRowsHeader" />
		</apex:pageblock>
	</apex:form>
</apex:page>